<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>Anna University</title>
    <%= stylesheet_link_tag "style" %> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <!-- header part html start -->
    
    <section class="header">
    <% if us_er_signed_in? %>
        <nav>
            <div class="nav_links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li> <%= link_to 'Colleges', colleges_path %>
                    <li> <%= link_to 'Course', dept_dept_path %> </li>
                    <li><%= link_to 'Contact us', page_contact_path %></li> 
                </ul>
            </div>
            <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>
    <%else%>
    <div class="nav_links" id="navLinks">
        <i class="fas fa-times" onclick="hideMenu()"></i>
        <ul>
            <li> <%= link_to 'Sign In', sessions_new_path %> </li>
            <li> <%= link_to 'Sign Up', signup_path %> </li>
        </ul>
    </div>   
    <%end%>
        <div class="text_box">
            <h1>Anna University</h1>
            <div class="para">
                <p>Anna University is a public state university located in Tamil Nadu, India.<br> The main campus is in Chennai. It was originally established on<br> 4 September 1978 and was named after C. N. Annadurai,<br> the former Chief Minister of Tamil Nadu.</p>
            </div>
              <%= link_to 'Visit Us To Know More', "https://www.annauniv.edu/",class:"btn btn-warning" %>
        </div>
    </section>
    <!-- header part html end -->

    <!-- course html code start -->
    <% if us_er_signed_in? %>
        
        <section class="facilities course">
            <h1>See Our Facilities</h1>
            <p>Enjoy Our Services</p>
            <div class="row">
                <div class="ficilities_column">
                    <%= image_tag("lib.jpg", :alt => "lib feed") %>
                    <h3>World Class Library</h3>
                    <p>A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes.</p>
                </div>
                <div class="ficilities_column">
                    <%= image_tag("play.jpg", :alt => "play feed") %>
                    <h3>Largest Play Ground</h3>
                    <p>A ground is a direct electrical connection to the earth, a connection to a particular point in an electrical or electronic circuit.</p>
                </div>
                <div class="ficilities_column">
                    <%= image_tag("can.jpg", :alt => "can feed") %>
                    <h3>Healthy Food</h3>
                    <p>A canteen is a store that sells food and drink at an institution like a camp, college, or military base. A canteen can also be a small container used to carry water to drink.</p>
                </div>
            </div>
        </section>
        <section class="course">
            <h1>Courses We Offer</h1>
            <p>All Engineering Course all over Tamil Nadu<span>( B.E / B.Tech )</span></p>
            <div class="row">
                <div class="course_column">
                    <h3>Under Graduate</h3>
                    <p>The candidates who possess the Diploma in Engineering / Technology awarded by the State Board of Technical Education, Tamilnadu or its equivalent are eligible to apply for Lateral entry admission to the third semester of B.E / B.Tech.</p>
                </div>
                <div class="course_column">
                    <h3>Post Graduate</h3>
                    <p>Students for admission to the first semester of the Post Graduate Degree Programme shall be required to have passed an appropriate qualifying Degree Examination of Anna University or any examination of any other University.</p>
                </div>
            </div>
        </section>
        <%= stylesheet_link_tag "style" %>   
<header>
  <section class="campus course">
    <h1>Departments</h1>
    <p>Learn At Your Own Time</p>
    <div class="row">
        <div class="campus_column">
            <%= image_tag("csc.jpg", :alt => "csc feed") %>
          <div class="layer" >
            <h3><%= button_to "CSC", dept_csc_path, method: :get , class:'btn btn-success' %></h3>
          </div>
        </div>
        <div class="campus_column">
          <%= image_tag("it.jpg", :alt => "it feed") %>
            <div class="layer">
              <h3><%= button_to "IT", dept_it_path, method: :get , class:'btn btn-success' %></h3>
            </div>
          </div>
        <div class="campus_column">
          <%= image_tag("mech.jpg", :alt => "mech feed") %>
          <div class="layer">
            <h3><%= button_to "MECHNICAL", dept_mech_path, method: :get , class:'btn btn-warning' %></h3>
            
          </div>
        </div>
          <div class="campus_column">
            <%= image_tag("civil.jpg", :alt => "civil feed") %>
            <div class="layer">
              <h3><%= button_to "CIVIL", dept_civil_path, method: :get , class:'btn btn-danger' %></h3>
            </div>
          </div>
          <div class="campus_column">
            <%= image_tag("ece.jpg", :alt => "ece feed") %>
            <div class="layer">
              <h3><%= button_to "ECE", dept_ece_path, method: :get , class:'btn btn-success' %></h3>
            </div>
          </div>
          <div class="campus_column">
            <%= image_tag("eee.jpg", :alt => "eee feed") %>
            <div class="layer">
              <h3><%= button_to "EEE", dept_eee_path, method: :get , class:'btn btn-warning' %></h3>
            </div>
          </div>
    </div>
  </section>
    <%else%>
        <section class="facilities course">
            <h1>See Our Facilities</h1>
            <p>Enjoy Our Services</p>
            <div class="row">
                <div class="ficilities_column">
                    <%= image_tag("lib.jpg", :alt => "lib feed") %>
                    <h3>World Class Library</h3>
                    <p>A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes.</p>
                </div>
                <div class="ficilities_column">
                    <%= image_tag("play.jpg", :alt => "play feed") %>
                    <h3>Largest Play Ground</h3>
                    <p>A ground is a direct electrical connection to the earth, a connection to a particular point in an electrical or electronic circuit.</p>
                </div>
                <div class="ficilities_column">
                    <%= image_tag("can.jpg", :alt => "can feed") %>
                    <h3>Healthy Food</h3>
                    <p>A canteen is a store that sells food and drink at an institution like a camp, college, or military base. A canteen can also be a small container used to carry water to drink.</p>
                </div>
            </div>
        </section>
    <%end%>

    <!-- call to action html code start -->
    <section class="call_to_action">
        <h1>Enroll Our Couses Anywhere</h1>
        <%= link_to 'Contact us', page_contact_path,class:"hero_btn" %> 
        <%= link_to 'About us', page_about_path,class:"hero_btn" %> 

    </section>
    <!-- call to action html code end -->


    <!-- footer html code start -->
    <section class="footer">
    
        <div class="icons">
            <h5>© 2021 Designed & Developed by Annauniversity</h5>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </section>
    <!-- footer html code end -->









    <script>
        const navLinks = document.getElementById('navLinks');

        function showMenu(){
            navLinks.style.right = "0"
        }
        function hideMenu(){
            navLinks.style.right = "-200px"
        }
    </script>
</body>
</html>
