<div class="container">   
<% if !@table.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @table.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>
    </div>
<% end %>   
<div class="container">   
<% if !@table.errors.empty? %>   
   <div>   
         
      <ul>   
         <% @table.errors.full_messages.each do |msg| %>   
            <li><%= msg %></li>   
         <% end %>      </ul>   
         
   </div>   
<% end %>   
  
<div>   
   <%= form_for(tables_create_path) do |f| %>   
      <%= f.label :name %>   
      <%= f.text_field :name %>   
      <br><br>   
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Save" %>   
   <% end %>   
</div>   
</div>
</div>  