<%= stylesheet_link_tag "style" %>   

<header>
  <section class="sub_column">
    <br><h2><b>Welcome to Department of Electrical and Electronics Engineering </b> </h2><br><br><br>
    <p>Keeping with the tradition of Anna University in offering new areas of specialization in engineering, the Department of Information Technology was instituted in the year 2001 with the objective of imparting knowledge in cutting-edge technologies in Information Technology and Computer Sciences.</p>
  </section>
    <div class="cc-l">
      <p>The department is currently headed by Dr. Dhananjay Kumar, an educator and researcher himself. In the footsteps of the former Heads, the incumbent Head is further taking the department to reach newer heights. The department has a team of dynamic, young and dedicated staff, with specialization in wide array of areas. It offers full time and part time courses for both UG and PG. The department receives funds from DST under FIST programme.</p>

      <br><p>All the members of TEAM IT share the belief that IT is a tool, if used effectively can improve the quality of all activities being carried out. As a first step, a project to automate all administrative activities has been taken up and the entire project is being done using the services of our department staffs. In the near future the department will have post Graduate course (other than MS By Research) offering curriculum in the field of Computer Science and Information Technology.</p>
    </div>
    <div class="row">
        <div class="campus_column">
            <%= image_tag("csc.jpg", :alt => "csc feed") %>
          <div class="layer" >
            <h3><%= button_to "CSC", 'https://www.annauniv.edu/' , method: :get , class:'btn btn-danger' %></h3>
          </div>
        </div>
        <div class="campus_column">
          <%= image_tag("it.jpg", :alt => "it feed") %>
            <div class="layer">
              <h3><%= button_to "IT", clg_vel_path, method: :get , class:'btn btn-success' %></h3>
            </div>
          </div>
        <div class="campus_column">
          <%= image_tag("mech.jpg", :alt => "mech feed") %>
          <div class="layer">
            <h3><%= button_to "MECHNICAL", clg_vel_path, method: :get , class:'btn btn-warning' %></h3>
            
          </div>
        </div>
    </div>
  
</header>